@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using InnerJoinLinq.Models.SearchData;
@model StudentViewList
@{
    ViewData["Title"] = "Index";
}

<div id="divInitialLoad">
    <partial name="_StudentDetailPartial" model="Model.StudentListData" />
</div>

<div id="divAjaxLoad">

</div>

<html>

<head>

    <meta name="viewport" content="studentList" />
    <title>Student Details</title>

</head>

<body>
    <form id="SearchId" method="post">

        <div>
            Search a Student by its
            <select name="SearchByAttribute">
                <option value="">Select</option>
                <option value="StudentId">Student Id</option>
                <option value="StudentName">Student Name</option>
                <option value="StudentClass">Student Class</option>

            </select>
            <input type="text" name="SearchText">&nbsp;&nbsp;
            OrderBy:
            <select name="SortByAttribute">
                <option value="">Select</option>
                <option value="StudentId">Student Id</option>
                <option value="StudentName">Student Name</option>
                <option value="StudentClass">Student Class</option>

            </select>&nbsp;&nbsp;
            <b><span> Range :</span></b>
            <input type="number" name="MinRange" />
            <b><span>  To :</span></b>
            <input type="number" name=" MaxRange" />
        </div>

    </form>
    <button type="button" class="btn btn-success" value="Submit" data-attr="submit">Search</button>
        
</body>

</html>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/search.js"></script>
